<template name="breadcrumb">
  {{!-- Just a simple back button for now --}}
  {{!-- <a class="breadcrumb btn btn-sm btn-text position-absolute mt-5" href="#"><i class="fa fa-chevron-left"></i> Back</a> --}}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">

      {{!-- javascript:history.back() --}}

      <li class="breadcrumb-item"><a href="javascript:history.back()"><i class="fa fa-chevron-left"></i> Back</a></li>

      {{#if routeX}}
        <li class="breadcrumb-item"><a href="{{pathFor route}}"><i class="fa fa-chevron-left"></i> Back</a></li>
      {{/if}}
    </ol>
  </nav>
</template>
