<template name="walletCreate">
  <div class="row">

    <div class="col-md-8 mr-auto ml-auto">
      <h5 class="mb-4 text-center">Create New Wallet</h5>
    </div>


    {{#if isLoading}}
      <div class="col-sm-12">Loading... {{loadingMsg}}</div>
    {{else}}

      <div class="col-md-8 mr-auto ml-auto">
        {{!-- Nav Tabs --}}
        <ul class="nav nav-tabs d-flex justify-content-center mb-4">
          <li class="nav-item">
            <a class="nav-link{{#unless isMnemonic}} active{{/unless}}" href="#" data-event="toggleMnemonic">Keystore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{{#if isMnemonic}} active{{/if}}" href="#" data-event="toggleMnemonic">Mnemonic</a>
          </li>
        </ul>

    
        {{#if isMnemonic}}
          <label>Mnemonic HD wallet seed</label>
          <div class="card mb-3 border">
            <div class="card-body">
              <div class="h3 text-justify">
                {{#each word in wordsList}}
                  <span class="badge badge-lg badge-light">{{word}}</span>
                {{/each}}
              </div>
            </div>
          </div>
        {{/if}}
    
        <form name="generate-wallet-form" id="generate-wallet-form" class="form">
    
          <div class="form-row">

            <div class="form-group col-md-12">
              <label for="inputPassword">Encryption Password</label>
              <input type="password" class="form-control mb-3" name="password" id="inputPassword" aria-describedby="passwordHelp" placeholder="password">
              <small id="passwordHelp" class="form-text text-warning">{{pwError}}</small>
            </div>

            <div class="form-group col-md-12">
              <label for="repeatPassword">Repeat Password</label>
              <input type="password" class="form-control mb-3" name="repeatPassword" id="repeatPassword" aria-describedby="repeatPasswordHelp" placeholder="password">
              <small id="repeatPasswordHelp" class="form-text text-warning">{{repeatPwError}}</small>
            </div>

            <div class="form-group col-md-12">
              <input type="submit" class="form-control btn btn-primary" value="Create" id="inputPassword4">
            </div>
          </div>

        </form>
    
      </div>

    {{/if}}



  </div>
</template>


