<template name="walletSend">

  <h5 class="text-center mb-4">Send {{#if (param 'asset')}}{{shortSymbol (param 'asset')}}{{else}}Funds{{/if}}</h5>

  {{#if (param 'asset')}}

    <div class="media my-4">

      <div class="d-flex mr-3">

        {{> circleColorIcon shortSymbol=balances.shortSymbol size="md"}}

      </div>

      <div class="media-body">
        <div class="mt-0">{{asset.name}} ({{balances.shortSymbol}})</div>
        <a href="#" class="small">Change</a>
      </div>
    </div>

  {{/if}}

  <form id="send-transaction-form" class="form" autocomplete="off">

    <div class="form-row">

      <div class="form-group col-md-12 mb-2">
        <label for="inputRecipient">Recipient</label>
        <input type="text" class="form-control mb-3" name="recipient" id="inputRecipient" aria-describedby="amountHelp" placeholder="recipient">
        <small id="amountHelp" class="form-text text-warning">{{recipientError}}</small>
      </div>

      {{#unless (param 'asset')}}
        <div class="form-group col-md-12 mb-2">
          <label for="inputAsset">Asset</label>
          <select class="form-control custom-select" id="inputAsset" name="asset">

            {{#each userAssets}}
              <option value="{{symbol}}">{{symbol}} ({{free}})</option>
            {{/each}}

          </select>
          <small class="form-text text-warning">{{assetError}}</small>
        </div>
      {{/unless}}

      <div class="form-group col-md-12 mb-2">
        <label for="inputAmount">Amount</label>
        <input type="text" class="form-control mb-3" name="amount" id="inputAmount" aria-describedby="amountHelp" placeholder="0.00">
        <small class="form-text text-{{#if amountError}}warning{{else}}accent{{/if}}">{{#if amountError}}{{amountError}}{{else}}{{#if (param 'asset')}}Available balance: {{balances.free}}{{/if}}{{/if}}</small>
      </div>

      <div class="form-group col-md-12 mb-2">
        <label for="inputAmount">Password</label>
        <input type="password" class="form-control mb-3" name="password" id="inputAmount" aria-describedby="passwordHelp" placeholder="password">
        <small class="form-text text-warning">{{passwordError}}</small>
      </div>


      <div class="form-group col-md-12 my-2">
        <input type="submit" class="form-control btn btn-primary{{#if loadingMsg}} disabled{{/if}}" value="Send" id="inputPassword4">
        <div class="text-center text-muted mt-2">{{loadingMsg}}</div>
      </div>


    </div>

  </form>
  {{!-- {{> transferTransactionForm}} --}}
</template>


<template name="transferTransactionForm">

</template>