<template name="walletAssets">
  <h3>Assets</h3>

  <ul class="list-unstyled">

    {{#each assetsList}}
    <li class="media d-flex mb-1 p-2 align-items-center" data-nav="{{pathFor "walletAssetDetails" symbol=symbol}}">
      {{!-- <img src="..." class="mr-3" alt="..."> --}}
      <div class="mr-3">
        {{> circleColorIcon shortSymbol=shortSymbol}}
      </div>
      <div class="media-body d-flex">

        <div class="mr-auto">
          <h5 class="mb-0">{{tokenName symbol}}</h5>
          <div class="small">{{symbol}}</div>
        </div>
        <div class="">
          <div class="text-right font-italic color-grey small">$price</div>
          <div class="text-right">{{decimals free}}</div>
        </div>

      </div>
    </li>
    {{/each}}

  </ul>
</template>

