<template name="navbar">

<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="{{pathFor 'home'}}">Asgard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto float-right">
      <li class="nav-item">
        <a class="nav-link {{#if (isActive 'walletView')}}active{{/if}}" href="{{pathFor 'walletView'}}">Wallet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{#if (isActive 'settings')}}active{{/if}}" href="{{pathFor 'settings'}}">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

</template>