<template name="walletNewMnemonicConfirm">
  <div class="row">

    <div class="col mr-auto ml-auto">
      <h5 class="mb-4 text-center">Confirm Phrase</h5>
    </div>

  </div>
  <div class="row">

    <div class="col-md-8 mx-auto">
      <form name="generate-wallet-form" id="generate-wallet-form" class="form">

      <!-- <label>Mnemonic HD wallet seed</label> -->
      <div class="card border mb-3">
        <div class="card-body p-2" style="min-height: 122px;">
          <div class="h3 mb-0 text-justify">
            {{#each word in confirmWordsList}}
              <span class="badge badge-lg badge-light position-relative pr-1 text-{{#if word.error}}danger{{else}}white{{/if}}" data-event="removeConfirmWord" data-param="{{word.text}}">{{word.text}}
                <span class="mr-1"><i class="fa fa-sm fa-times"></i></span>
              </span>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div id="phraseHelp" class="form-text text-warning small">{{phraseError}}</div>
      </div>


            
            <div class="row mt-4">

              <div class="col-12">
                <label class="display-block">Select in correct order
                  <span class="btn btn-sm btn-text mr-auto" data-event="resetPhrase"><i class="fa fa-redo"></i></span>
                </label>
              </div>

              {{#each word in wordslist}}
                <div class="col-6 col-md-3 h4">
                  <span class="btn btn-sm btn-primary {{word.style}} w-100" data-event="addConfirmWord" data-param="{{word.text}}">{{word.text}}</span>
                </div>
              {{/each}}

            </div>

          
        <fieldset disabled="{{#if loadingMsg}}disabled{{/if}}">
          <div class="form-row">

            <div class="form-group col-md-12">
              <label for="inputPassword">Encryption Password</label>
              <input type="password" class="form-control mb-3" name="password" id="inputPassword" aria-describedby="passwordHelp" placeholder="password">
              <small id="passwordHelp" class="form-text text-warning">{{pwError}}</small>
            </div>

            <div class="form-group col-md-12">
              <label for="repeatPassword">Repeat Password</label>
              <input type="password" class="form-control mb-3" name="repeatPassword" id="repeatPassword" aria-describedby="repeatPasswordHelp" placeholder="password">
              <small id="repeatPasswordHelp" class="form-text text-warning">{{repeatPwError}}</small>
            </div>

            <div class="form-group col-md-12">

                <button type="submit" class="form-control btn btn-dark btn-brand-border">
                  <span>
                    {{#if loadingMsg}}
                    <div class="spinner-border spinner-border-sm" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    {{loadingMsg}}
                    {{else}}Create{{/if}}
                    {{!-- <div class="btn-brand"></div> --}}
                  </span>
                </button>

            </div>
          </div>
        </fieldset>
      </form>


    </div>
  </div>


</template>