<template name="walletImport">
  <div class="row">
    <div class="col-md-8 mr-auto ml-auto">
      <h4 class="mb-4 text-center">Import existing</h4>
    </div>


      <div class="col-md-8 mr-auto ml-auto">

        {{!-- Nav Tabs --}}
        <ul class="nav nav-tabs d-flex justify-content-center mb-4">
          <li class="nav-item">
            <a class="nav-link{{#unless isMnemonic}} active{{/unless}}" href="#" data-event="toggleMnemonic">Keystore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{{#if isMnemonic}} active{{/if}}" href="#" data-event="toggleMnemonic">Mnemonic</a>
          </li>
        </ul>

      {{#unless isMnemonic}}

        <form id="upload-keystore-form" class="form" autocomplete="off">
          <fieldset disabled="{{#if isLoading}}disabled{{/if}}">

          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="upload-file-button" type="button" class="form-control btn btn-primary mb-3" data-event="triggerFileInput">
                <div class="button-content text-truncate">Select File</div>
              </button>
              <small id="fileHelp" class="form-text text-warning">{{fileError}}</small>
            </div>

            <input id="upload-file-input" type="file" class="d-none" name="keystoreFile">

            <div class="form-group col-md-12">
              <label for="inputPassword">Encryption Password</label>
              <input type="password" class="form-control mb-3" name="password" id="inputPassword" aria-describedby="passwordHelp" placeholder="password">
              <small id="passwordHelp" class="form-text text-warning">{{pwError}}</small>
            </div>

            <div class="form-group col-md-12">
              <button type="submit" class="form-control btn btn-dark btn-brand-border">
                <span>
                  {{#if loadingMsg}}
                  <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  {{loadingMsg}}
                  {{else}}Import{{/if}}
                </span>
              </button>

            </div>

          </div> 
          </fieldset>
        </form>

      {{else}}

        <form id="import-mnemonic-form" class="form" autocomplete="off">
          <fieldset disabled="{{#if isLoading}}disabled{{/if}}">

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputMnemonic">Phrase</label>
                <input type="text" id="inputMnemonic" class="form-control mb-3" placeholder="enter phrase" name="mnemonic">
                <small id="mnemonicHelp" class="form-text text-warning">{{mnemonicError}}</small>
              </div>

              <div class="form-group col-md-12">
                <label for="inputPassword">New Password</label>
                <input type="password" class="form-control mb-3" name="password" id="inputPassword" aria-describedby="passwordHelp" placeholder="password">
                <small id="passwordHelp" class="form-text text-warning">{{pwError}}</small>
              </div>

              <div class="form-group col-md-12">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" class="form-control mb-3" name="repeatPassword" id="repeatPassword" aria-describedby="repeatPasswordHelp" placeholder="password">
                <small id="repeatPasswordHelp" class="form-text text-warning">{{repeatPwError}}</small>
              </div>

              <div class="form-group col-md-12">
                <button type="submit" class="form-control btn btn-dark btn-brand-border">
                  <span>
                    {{#if loadingMsg}}
                    <div class="spinner-border spinner-border-sm" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    {{loadingMsg}}
                    {{else}}Import{{/if}}
                  </span>
                </button>
              </div>
            </div>

          </fieldset>

        </form>

      {{/unless}}

      </div>

  </div>
</template>